/* -----Font Style ----  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
  }
  .roboto-normal {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .inter-normal {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
  /* ---- Shared Style -----  */
  a{
    text-decoration: none;
    color: black;
}
  .display-flex{
    display: flex;
  }

  /*-------Header Section----- */
  /* Nav Section  */
  header {
    max-width: 1200px;
    margin: 50px auto 0px auto;
  }
  header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1{
    font-size: 1.6rem;
  }
.links-img-1{
    width: 24px;
    height: 24px;
}
.links-img-2{
    width: 36px;
    height: 36px;
}
.links-items{
    list-style: none;
}
.links ul{
    display: flex;
    align-items: center;
    gap: 34px;
}
.links ul li{
    font-size: 1rem;
    font-weight: 600;
}
         
/* Banner Section  */
.banner-container{
  justify-content: space-between;
  align-items: center;
  gap: 131px;
  margin: 50px 0px 70px 0px;
}
.banner-text h3{
  font-size: 3.2rem;
  margin: 0px;
}
.banner-text p{
  width: 505px;
  margin: 16px 0px;
  font-weight: 600;
  font-size: 1rem;
}
.banner-text img{
  width: 24px;
  height: 24px;
}
.banner-btn{
  background-color: #E02C6D;
  border: NONE;
  border-radius: 41px;
  padding: 10px 24px;
}
.prebook{
  color: white;
  margin-right: 8px;
}
.right-arrow{
  color: white;
  width: 24px;
  height: 24px;
}
.banner-img img{
  width: 440px;
  height: 414px;
  margin-top: 30px;
}
.banner-img{
  background-image: url(./images/Circle\ design.svg);
  background-position: 50px 0px 0px 0px;
  background-size: cover;
  background-position: center center;

  width: 475px;
  height: 475px;
}


/* Sponsers Section  */
.sponsers{
  max-width: 1110px;
  margin: 0px auto 100px auto;
}
.sponsers-container{
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-top: 1px solid rgba(192, 204, 218, 1);
  border-bottom: 1px solid rgba(192, 204, 218, 1);
  padding: 36px 62px 34px 62px;
}


/* Popular Collection  */
.stars{
  width: 80px;
  margin: 0px;
}
.popular-cat{
  margin: 0px auto 50px auto;
  max-width: 1047px;
}
.popular-cat-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.popular-cat h3{
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin: 0px 0px 30px 0px;
  line-height: 70px;
}
.box-cart{
  width: 329px;
  padding: 17px 14.5px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.product-image{
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.product-title{
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 40px;
  margin: 14px 0px 6px 0px;
}
.product-price{
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 400;
}
.rating-sec{
  width: 122px;
  height: 32px;
}
.rating{
  line-height: 22px;
  margin-left: 8px;
  font-weight: 700;
}
.box-cart-p{
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 3px;
  color: rgba(128, 128, 128, 0.5);
}
.see-more{
  margin-top: 50px;
  text-align: end;
}
.see-more-t{
  color: #E02C6D;
  margin-right: 8px;
  font-weight: 700;
  font-size: 1rem;
}
.see-more-arrow{
font-size: 24px;
font-weight: bold;
color: #E02C6D;
width: 24px;
height: 24px;
}


/* Feature Section  */
.feature-container{
  max-width: 1110px;
  margin: 100px auto 100px auto;
  gap: 96px;
}
.feature-container img{
  border-radius: 7px;
}
.feature-text{
  margin: 23px 0px;
}
.feature-text h4{
  font-size: 2.375rem;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 16px;
}
.feature-text p{
  color: #6C6C6C;
  font-size: 1rem;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 16px;
}
.join-btn{
  background-color: #E02C6D;
  border: none;
  padding: 10px 24px;
}
.join-btn a{
  font-size: 1rem;
  font-weight: bold;
  color: white;
}


/* Footer  */
.ftr{
  background-color: #0A0826;
  color: white;
  text-align: center;
  padding-top: 50px ;
  padding-bottom: 50px;
}
.ftr h4{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3px;
}
.ftr p{
  font-size: 0.875rem;
  line-height: 24px;
  color: #D9DBE1;
}
.ftr-images{
  margin-top: 17px;
}
.ftr-images img{
  width: 32px;
  height: 32px;
  margin-right: 16px;
}


/* responsive for small device  */
@media screen and (max-width:576px) {
  .hide{
    visibility: hidden;
  }
  header{
    margin-top: 35px;
    max-width: 576px;
    padding: 0px 16px 0px 16px;
  }
  header nav{
    flex-direction: column;
  }
  .links-img-1, .links-img-2{
    width: 20px;
    height: 20px;
}
.links ul{
  gap: 9px;
  margin-top: 15px;
}
}